@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div id="menu_bar" class="container">
                <ul class="nav navbar-nav">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li><a id="yay" href="@routes.Application.employee()">Employees</a></li>
                    <li><a href="@routes.Application.getProjects()">Projects</a></li>
                    <li><a>Records</a></li>
                    <li><a>Statistics</a></li>
                </ul>
            </div>
        </nav>
        @content
    </body>
</html>
